
/*ALGEMEEN*/

body {
    font-size: 25px;
    color: var(--color-zwart);
    font-family: var(--text-font);
}

p{
    font-weight: 200;
    margin: 1rem 10rem 0rem 0rem;
}

/*HEADER*/

.logo {
    height: 13vh;
    margin: 10px
}

.kleinnavi{
    display: block;
    margin: 50px 2px;
    color: var(--color-donkergroen);
    text-decoration: underline;
}

.buttonheader{
    margin: 5px 2px 0px;
}

.buttonheader1{
    margin: 0rem 0rem 0rem 18rem;
}

.buttonheader:hover{
    opacity:90%;
}

.buttonheader1:hover{
    opacity: 90%;
}

.grootnavi{
    display: block;
    color: var(--color-donkergroen);
    text-decoration: underline;
    font-weight: 900;
    margin: 25px 15px;

}

.grootnavi:hover{
    color:var(--color-lichtgroen);
}

/*FOOTER*/

footer{
    background-color:var(--color-zwart);
    color: var(--color-wit);
    margin: 12rem 0rem 0rem;
    padding-bottom: 4rem;
}

/*HOME HTML*/

.waarom{
    margin: 2rem 0rem;
}

.waarom>img{
    float:left;
    height: 55vh;
    width: 75vh;
    margin: 0px 6rem 2rem 0rem;
}

.waarom1{
    float: right;;
    height: 80vh;
    width: 40vh;
    margin: 2rem 6rem 0rem 5rem;
}

h1{
    position:absolute;
    margin: 12rem 5rem 0px;
    color: var(--color-blauw);
    font-size: 50px;
}

span{
    color: var(--color-wit);
}

.link{
    color: var(--color-lichtgroen);
    font-size: 20px;
    font-weight: 100;
    margin-top: 2rem ;
    text-decoration: underline;
}

.student>img{
    float: left;
    height: 55vh;
    margin: 2rem 0rem 0rem 26rem;
}

.student>h1{
    margin: 5rem 0rem 0rem 2rem;
}

.student>p{
    position: absolute;
    margin: 9rem 2rem 0rem;
}

.meer>img{
    float: left;
    height: 65vh;
    margin: 5rem 0rem;
}

.meer>h1{
    margin:27rem 0rem 0rem 5px;
}

.ontdek{
     margin:6rem 0rem 0rem 2rem;
}


.ontdek>img{
    float: right;
    height: 65vh;
    width: 55vh;
    margin: 0rem 5rem 2rem 0rem;

}

.ontdek>h1{
    margin: 0rem 10rem 0rem 0rem;
}

.ontdek>p{
    position: absolute;
    margin: 8rem 4rem 10rem 0rem;
}

.zoveel>img{
    float: left;
    height: 65vh;
    margin:2rem 9rem 8rem;
}

.zoveel>h1{
    margin: 2rem 12rem;
}

.zoveel>p{
    position: absolute;
    margin: 14rem 30rem 3rem ;
    color: var(--color-wit);
    font-size: 50px;
    font-weight: 900;
}

.hoe{
    margin: 0rem 1rem 12rem;
}

h3{
    position:absolute;
    margin: 6rem 2rem;

}

.zoekvriend{
    margin: 3rem 0rem;
    background-color: var(--color-lichtgrijs);
    padding: 5rem 5rem 3rem 2rem;
}

.werk{ 
    float: left;
    height: 75vh;
    width: 35vh;
    margin: 5rem 0rem;
}

.kleedp{
    margin: 6rem 2rem 0rem;
}

.kleed{
    margin: 0rem 2rem 7rem;
}

.box{ 
    height: 53vh;
    width: 45vh;
}

.betalen{
    margin: 2rem 2rem 2rem;
}
.betalenp{
    margin: 0rem 0rem;
    background-color: var(--color-lichtgrijs);
    padding: 5rem 1rem 3rem 2rem;
}

.bezorgenp{
    margin: 9rem 2rem 0rem;
}

.bezorgen{
    margin: 2rem 2rem 2rem;
}

.retour{
    margin: 0rem 2rem;
}

/*FAVO HTML*/

h2{
    margin: 4rem 0rem;
}
.plantje{
    height: 55vh;
    width: 45vh;
    margin: 2rem 1rem;
    float: left;
    border-style:solid;
    border-color: var(--color-lichtgrijs);
    border-width: 0px;
}

.plantje:hover{
    border-color: var(--color-lichtgroen);
    border-width: 2px;
}

.naam{
    position: absolute;
    background-color:var(--color-lichtgrijs);
    opacity: 85%;
    padding: 0px 43px ;
    margin: 387px 16px 0rem;
}

.naam>h6{
    position: absolute;
    opacity: 100%;
    font-size: 30px;
    margin: 14px 0rem 1rem 0rem;
}

.naam>p{
    margin: 1rem 0rem 1rem 12rem;
    font-weight: 800;
}

i{
    color:var(--color-wit);
    font-size: 35px;
}

.favo{
    position: absolute;
    padding: 10px;
    border-radius: 25%;
    background-color: var(--color-lichtgroen);
    margin: 3rem 17rem;
}

.favo:hover{
    padding: 11px;
}

/*PLANTJE HTML*/

.plantje2{
    float: left;
    height: 55vh;
    width: 45vh;
    margin: 2rem 1rem 0rem;
    border-style:solid;
    border-color: var(--color-lichtgrijs);
    border-width: 0px;
}

.plantje2:hover{
    border-color: var(--color-lichtgroen);
    border-width: 2px;
}

.titel{
    margin: 12rem 0rem 0rem;
    opacity: 90%;
}

.titel>h6{
    position: absolute;
    color: var(--color-blauw);
    font-size: 30px;
    background-color: var(--color-lichtgrijs);
    padding: 1rem 73px;
    margin: 1rem 0rem 0rem 1rem;
}

.titel2{
    margin: 12rem 0rem 0rem;
    opacity: 90%;
}


.titel2>h6{
    font-size:26px;
    position: absolute;
    color: var(--color-blauw);
    background-color: var(--color-lichtgrijs);
    padding: 21px 71px;
    margin: 1rem 0rem 0rem 1rem;
}

.titel3{
    margin: 12rem 0rem 0rem;
    opacity: 90%;
}

.titel3>h6{
    font-size:26px;
    position: absolute;
    color: var(--color-blauw);
    background-color: var(--color-lichtgrijs);
    padding: 21px 79px;
    margin: 1rem 0rem 0rem 1rem;
}

.titel4{
    margin: 12rem 0rem 0rem;
    opacity: 90%;
}

.titel4>h6{
    font-size:26px;
    position: absolute;
    color: var(--color-blauw);
    background-color: var(--color-lichtgrijs);
    padding: 21px 62px;
    margin: 1rem 0rem 0rem 1rem;
}
