
/*ALGEMEEN*/

*{
    margin:0px;
    padding:0px;
}

body {
    font-size: 25px;
    color: var(--color-zwart);
    font-family: var(--text-font);
}

p{
    font-weight: 200;
}


/*HEADER*/

.nav-links{
    display: none;
    content: none;
}

.logo {
    height: 13vh;
    margin: 10px
}

.kleinnavi{
    display: block;
    margin: 50px 2px;
    color: var(--color-donkergroen);
    text-decoration: underline;
}

.buttonheader{
    margin: 5px 2px 0px;
}

.buttonheader1{
    margin: 0rem 0rem 0rem 18rem;
}

.buttonheader:hover{
    opacity:90%;
}

.buttonheader1:hover{
    opacity: 90%;
}

.grootnavi{
    display: block;
    color: var(--color-donkergroen);
    text-decoration: underline;
    font-weight: 900;
    margin: 25px 0px;

}

.grootnavi:hover{
    color:var(--color-lichtgroen);
}

.navigatie>img{
    content:none;
    display: none;
}

.navigatie{
    content:none;
    display: none;
}

/*HEADER MOBIEL*/

@media screen and (max-width:576px){
    
    .buttonheader1{
        content:none;
        display: none;
    }

    .buttonheader{
        content:none;
        display: none;
    }

    .kleinnavi{
        content:none;
        display: none;
    }

    .grootnavi{
        content:none;
        display: none;
    }

    .logo{
        float: left;
        height: 5vh;
        margin-top: 2rem;
    }

    .navigatie{
        content: normal;
        display:block;
    }
    
    .navigatie>img{
        position: absolute;
        display: flex;
        height: 7vh;
        margin: 1rem 0rem 0rem 15rem;
    }
}


/*FOOTER*/

footer{
    background-color:var(--color-zwart);
    color: var(--color-wit);
    margin: 12rem 0rem 0rem;
    padding: 4rem;
}

@media screen and (max-width:576px){
    footer{
        background-color:var(--color-zwart);
        color: var(--color-wit);
        margin: 5rem 0rem 0rem;
        padding: 1rem 0rem 0rem;
        font-size: 15px;
    }

}

/*HOME HTML*/

.waarom{
    margin: 2rem 0rem;
}

.waarom>img{
    float:left;
    height: 55vh;
    width: 75vh;
    margin: 0rem 1rem 2rem 0rem;
    
}

.waarom1{
    float: right;;
    height: 80vh;
    width: 40vh;
    margin: 2rem 8rem;
    
}

.waarom>p{
    font-weight: 200;
    margin: 0rem 9rem 0rem 0rem;
}

h1{
    position:absolute;
    margin: 12rem 2rem 0px;
    color: var(--color-blauw);
    font-size: 50px;
}

span{
    color: var(--color-wit);
}

.link{
    color: var(--color-lichtgroen);
    font-size: 20px;
    font-weight: 100;
    margin-top: 2rem ;
    text-decoration: underline;
}

.student>img{
    float: left;
    height: 55vh;
    margin: 2rem 0rem 0rem 26rem;
}

.student>h1{
    margin: 5rem 0rem 0rem 2rem;
}

.student>p{
    position: absolute;
    margin: 9rem 2rem 0rem;
}

.meer>img{
    float: left;
    height: 65vh;
    margin: 5rem 0rem;
}

.meer>h1{
    margin:27rem 0rem 0rem 5px;
}

.ontdek{
     margin:1rem 5rem 0rem 0rem;
}


.ontdek>img{
    float: right;
    height: 65vh;
    width: 55vh;

}

.ontdek>h1{
    margin: 0rem 10rem 0rem 0rem;
    
}

.ontdek>p{
    position: absolute;
    margin: 8rem 0rem 10rem 0rem;
}

.zoveel>img{
    float: left;
    height: 65vh;
    margin:2rem 9rem 8rem;
}

.zoveel>h1{
    margin: 2rem 2rem;
    padding-left: 10rem;
}

.zoveel>p{
    position: absolute;
    margin: 14rem 30rem 3rem ;
    color: var(--color-wit);
    font-size: 50px;
    font-weight: 900;
}

.hoe{
    margin: 0rem 1rem 12rem;
}

h3{
    position:absolute;
    margin: 6rem 2rem;

}

.zoekvriend{
    margin: 3rem 0rem;
    background-color: var(--color-lichtgrijs);
    padding: 5rem 5rem 3rem 2rem;
}

.werk{ 
    float: left;
    height: 75vh;
    width: 35vh;
    margin: 5rem 0rem;
}

.kleedp{
    margin: 6rem 2rem 0rem;
}

.kleed{
    margin: 0rem 2rem 7rem;
}

.box{ 
    height: 53vh;
    width: 45vh;
}

.betalen{
    margin: 2rem 2rem 2rem;
}
.betalenp{
    margin: 0rem 0rem;
    background-color: var(--color-lichtgrijs);
    padding: 5rem 1rem 3rem 2rem;
}

.bezorgenp{
    margin: 9rem 2rem 0rem;
}

.bezorgen{
    margin: 2rem 2rem 2rem;
}

.shoppen{
    margin: 2rem 0rem;
}

.retour{
    margin: 1rem 2rem;
}

.retour>p{
    margin: 1rem 0rem;
}

/*HOME HTML MOBIEL*/

@media screen and (max-width:576px){
    .waarom{
        margin: 2rem 0rem;
    }
    
    .waarom>img{
        float:left;
        height: 30vh;
        width: 40vh;
        margin: 0rem 2rem 2rem 0rem;
        opacity: 85%;
        
    }
    
    .waarom1{
        content:none;
        display: none;
        
    }
    
    .waarom>p{
        font-weight: 200;
        margin: 1rem 0rem;
    
    }
    
    h1{
        position:absolute;
        margin: 1rem 1rem 0px;
        color: var(--color-blauw);
        font-size: 25px;
    }
    
    .waarom>h1>span{
        color: var(--color-blauw);
    }
    
    .link{
        color: var(--color-lichtgroen);
        font-size: 20px;
        font-weight: 100;
        margin-top: 2rem ;
        text-decoration: underline;
    }
    
    .student{
        margin-top: 2rem;

    }
    .student>img{
        float: left;
        height: 20vh;
        margin: 1rem 0rem 0rem 3rem;
    }
    
    .student>h1{
        margin: 0rem 0rem 0rem 0rem;
    }
    
    .student>p{
        content: none;
        display: none;
    }
    
    .meer>img{
        float: left;
        height: 25vh;
        margin: 5rem 0rem;
    }
    
    .meer>h1{
        margin:5rem 0rem 0rem 5px
    }

    .meer>h1>span{
        color: var(--color-blauw);
    }
    
    .ontdek{
         margin:0rem;
    }
    
    
    .ontdek>img{
        float: right;
        height: 25vh;
        width: 15vh;
        opacity: 50%;
    
    }
    
    .ontdek>h1{
        content: none;
        display:none;
        
    }
    
    .ontdek>p{
        content: none;
        display:none;
    }
    
    .zoveel>img{
        float: left;
        height: 25vh;
        margin:2rem 0rem 8rem;
    }
    
    .zoveel>h1{
        margin: 2rem 1rem;
        padding-left: 0rem;
    }
    
    .zoveel>p{
        position: absolute;
        margin: 7rem 8rem 0rem ;
        color: var(--color-wit);
        font-size: 30px;
        font-weight: 900;
    }
    
    .hoe{
        margin: 0rem 0rem 0rem;
        font-size: 30px;
    }
    
    h3{
        position:absolute;
        margin: 6rem 2rem;
    
    }
    
    .zoekvriend{
        margin: 3rem 0rem;
        background-color: var(--color-lichtgrijs);
        padding: 5rem 5rem 3rem 2rem;
    }
    
    .werk{ 
        display: none;
        content: none;
    }
    
    .kleedp{
        margin: 6rem 2rem 2rem;
    }
    
    .kleed{
        margin: 0rem 2rem 7rem;
    }
    
    .box{ 
        display: none;
        content: none;
    }
    
    .betalen{
        margin: 2rem 2rem 2rem;
    }
    .betalenp{
        margin: 0rem 0rem;
        background-color: var(--color-lichtgrijs);
        padding: 5rem 1rem 1rem 2rem;
    }
    
    .bezorgenp{
        margin: 9rem 2rem 0rem;
    }
    
    .bezorgen{
        margin: 1rem 0rem 2rem;
    }
    
    .shoppen{
        margin: 2rem 0rem;
    }
    
    .retour{
        margin: 1rem 2rem;
    }
    
    .retour>p{
        margin: 1rem 0rem;
    }

}


/*FAVO HTML*/

.navigatie>img{
    content:none;
    display: none;
}

.navigatie{
    content:none;
    display: none;
}

h2{
    margin: 4rem 0rem;
}
.plantje{
    height: 55vh;
    width: 45vh;
    margin: 2rem 1rem;
    float: left;
    border-style:solid;
    border-color: var(--color-lichtgrijs);
    border-width: 0px;
}

.plantje:hover{
    border-color: var(--color-lichtgroen);
    border-width: 2px;
}

.naam{
    position: absolute;
    background-color:var(--color-lichtgrijs);
    opacity: 85%;
    padding: 0px 34px ;
    margin: 387px 16px 0rem;
}

.naam>h6{
    position: absolute;
    opacity: 100%;
    font-size: 30px;
    margin: 14px 0rem 1rem 0rem;
}

.naam>p{
    margin: 1rem 0rem 1rem 12rem;
    font-weight: 800;
}

i{
    color:var(--color-wit);
    font-size: 35px;
}

.favo{
    position: absolute;
    padding: 10px;
    border-radius: 25%;
    background-color: var(--color-lichtgroen);
    margin: 3rem 17rem;
}

.favo:hover{
    padding: 11px;
}

/*FAVO HTML MOBIEL*/

@media screen and (max-width:576px){

    .navigatie{
        content: normal;
        display:block;
    }
    
    .navigatie>img{
        position: absolute;
        display: flex;
        height: 7vh;
        margin: 1rem 0rem 0rem 15rem;
    }

    h2{
        margin: 2rem 1rem 0rem 0rem;
        font-size: 23px;
    }
    .plantje{
        height: 45vh;
        width: 35vh;
        margin: 2rem 1rem;
        float: left;
        border-style:solid;
        border-color: var(--color-lichtgrijs);
        border-width: 0px;
    }
    
    .plantje:hover{
        border-color: var(--color-lichtgroen);
        border-width: 2px;
    }
    
    .naam{
        position: absolute;
        background-color:var(--color-lichtgrijs);
        opacity: 85%;
        padding: 0px 16px ;
        margin: 338px 16px 0rem;
    }
    
    .naam>h6{
        position: absolute;
        opacity: 100%;
        font-size: 30px;
        margin: 14px 0rem 1rem 0rem;
    }
    
    .naam>p{
        margin: 1rem 0rem 1rem 12rem;
        font-weight: 800;
    }
    
    i{
        color:var(--color-wit);
        font-size: 35px;
    }
    
    .favo{
        position: absolute;
        padding: 10px;
        border-radius: 25%;
        background-color: var(--color-lichtgroen);
        margin: 3rem 14rem;
    }
    
    .favo:hover{
        padding: 11px;
    }



}

/*PLANTJE HTML*/

.navigatie>img{
    content:none;
    display: none;
}

.navigatie{
    content:none;
    display: none;
}

.plantje2{
    float: left;
    height: 55vh;
    width: 45vh;
    margin: 2rem 1rem 0rem;
    border-style:solid;
    border-color: var(--color-lichtgrijs);
    border-width: 0px;
}

.plantje2:hover{
    border-color: var(--color-lichtgroen);
    border-width: 2px;
}

.titel{
    margin: 12rem 0rem 0rem;
    opacity: 90%;
}

.titel>h6{
    position: absolute;
    color: var(--color-blauw);
    font-size: 30px;
    background-color: var(--color-lichtgrijs);
    padding: 1rem 73px;
    margin: 1rem 0rem 0rem 1rem;
}

.titel2{
    margin: 12rem 0rem 0rem;
    opacity: 90%;
}


.titel2>h6{
    font-size:26px;
    position: absolute;
    color: var(--color-blauw);
    background-color: var(--color-lichtgrijs);
    padding: 21px 71px;
    margin: 1rem 0rem 0rem 1rem;
}

.titel3{
    margin: 12rem 0rem 0rem;
    opacity: 90%;
}

.titel3>h6{
    font-size:26px;
    position: absolute;
    color: var(--color-blauw);
    background-color: var(--color-lichtgrijs);
    padding: 21px 79px;
    margin: 1rem 0rem 0rem 1rem;
}

.titel4{
    margin: 12rem 0rem 0rem;
    opacity: 90%;
}

.titel4>h6{
    font-size:26px;
    position: absolute;
    color: var(--color-blauw);
    background-color: var(--color-lichtgrijs);
    padding: 21px 62px;
    margin: 1rem 0rem 0rem 1rem;
}

.idee>h2{
    margin: 7rem 0rem 0rem;
}

.chat{
    float: left;
    background-color: var(--color-lichtgrijs);
    padding: 2rem 20rem 20rem 5rem;
    margin: 5rem 0rem 0rem;
}

.chat>.col-10>p{
    background-color: var(--color-blauw);
    padding:1rem 3rem 1rem 1rem;
    margin: 1rem 0rem 1rem 4rem;
    color: var(--color-wit);
    font-weight: 550;
    border-radius: 3%;
}

.chat>.col-2>p{
    position:absolute;
    background-color: var(--color-lichtgroen);
    padding: 1rem;
    margin: 0rem 12rem 6rem 0rem;
    color: var(--color-wit);
    font-weight: 700;
    border-radius: 5%;
}

#msg{
    padding: 1rem 40rem 0rem 29px;
    margin: 0rem;
    border-color: var(--color-lichtgrijs);
    border-width: 2px;
}

.button>a>i{
    position:absolute;
    font-size: 30px;
    color: var(--color-blauw);
    margin: 1rem 50rem 2rem;
}

/*PLANTJE HTML MOBIEL*/

@media screen and (max-width:576px){
    .navigatie{
        content: normal;
        display:block;
    }
    
    .navigatie>img{
        position: absolute;
        display: flex;
        height: 7vh;
        margin: 1rem 0rem 0rem 15rem;
    }
    
    .plantje2{
        float: left;
        height: 45vh;
        width: 35vh;
        margin: 2rem 1rem 0rem;
        border-style:solid;
        border-color: var(--color-lichtgrijs);
        border-width: 0px;
    }
    
    .plantje2:hover{
        border-color: var(--color-lichtgroen);
        border-width: 2px;
    }
    
    .titel{
        margin: 12rem 0rem 0rem;
        opacity: 90%;
    }
    
    .titel>h6{
        position: absolute;
        color: var(--color-blauw);
        font-size: 30px;
        background-color: var(--color-lichtgrijs);
        padding: 1rem 44px;
        margin: 1rem 0rem 0rem 1rem;
    }
    
    .titel2{
        margin: 12rem 0rem 0rem;
        opacity: 90%;
    }
    
    
    .titel2>h6{
        font-size:26px;
        position: absolute;
        color: var(--color-blauw);
        background-color: var(--color-lichtgrijs);
        padding: 21px 44px;
        margin: 1rem 0rem 0rem 1rem;
    }
    
    .titel3{
        margin: 12rem 0rem 0rem;
        opacity: 90%;
    }
    
    .titel3>h6{
        font-size:26px;
        position: absolute;
        color: var(--color-blauw);
        background-color: var(--color-lichtgrijs);
        padding: 21px 51px;
        margin: 1rem 0rem 0rem 1rem;
    }
    
    .titel4{
        margin: 12rem 0rem 0rem;
        opacity: 90%;
    }
    
    .titel4>h6{
        font-size:26px;
        position: absolute;
        color: var(--color-blauw);
        background-color: var(--color-lichtgrijs);
        padding: 21px 35px;
        margin: 1rem 0rem 0rem 1rem;
    }
    
    .idee{
        display: none;
        content: none;
    }
    
    .chat{
        display: none;
        content: none;
    }
    
    
    #msg{
        display: none;
        content: none;
    }
    
    .button>a>i{
        display: none;
        content: none;
    }

}

