body {
    font-size: 25px;
    color: var(--color-zwart);
    font-family: var(--text-font);
}

p{
    font-weight: 200;
    margin: 1rem 10rem 0rem 0rem;
}

.logo {
    height: 13vh;
    margin: 10px
}

.kleinnavi{
    display: block;
    margin: 50px 2px;
    color: var(--color-donkergroen);
    text-decoration: underline;
}

.buttonheader{
    margin: 5px 2px 0px;
}

.buttonheader1{
    margin: 0rem 0rem 0rem 18rem;

}

.grootnavi{
    display: block;
    color: var(--color-donkergroen);
    text-decoration: underline;
    font-weight: 900;
    margin: 25px 15px;

}

.waarom{
    float:left;
    height: 55vh;
    width: 75vh;
    margin: 0px 6rem 2rem 0rem;
}

.waarom1{
    float: right;;
    height: 80vh;
    width: 40vh;
    margin: 0rem 6rem 0rem 5rem;
}

h1{
    position:absolute;
    margin: 12rem 5rem 0px;
    color: var(--color-blauw);
    font-size: 50px;
}

span{
    color: var(--color-wit);
}

.link{
    color: var(--color-lichtgroen);
    font-size: 20px;
    font-weight: 100;
    margin-top: 2rem ;
    text-decoration: underline;
}

.student{
    float: left;
    height: 55vh;
    margin: 2rem 0rem 0rem 26rem;
}

.budget{
    margin: 5rem 0rem 0rem 2rem;
}

.budgetp{
    position: absolute;
    margin: 9rem 2rem 0rem;
}

.plantjes3{
    float: left;
    height: 65vh;
    margin: 5rem 0rem;
}

.ontdek{
     margin:6rem 0rem 0rem 2rem;
}

.meer{
    margin:27rem 0rem 0rem 5px;
}

.morefriends{
    float: right;
    height: 65vh;
    width: 55vh;
    margin: 5rem 5rem 0rem 0rem;

}

.ontdek{
    margin: 5rem 5rem 0rem 0rem;
}

.ontdekp{
    position: absolute;
    margin: 12rem 5rem 10rem 0rem;
}

.thuis{
    float: left;
    height: 65vh;
    margin:2rem 9rem 8rem;
}

.zoveel{
    margin: 2rem 12rem;
}

.zoveelp{
    position: absolute;
    margin: 14rem 30rem 3rem ;
    color: var(--color-wit);
    font-size: 50px;
    font-weight: 900;
}

.hoe{
    margin: 0rem 1rem 12rem;
}

h3{
    position:absolute;
    margin: 6rem 2rem;

}

.zoekvriend{
    margin: 3rem 0rem;
    background-color: var(--color-lichtgrijs);
    padding: 5rem 5rem 3rem 2rem;
}

.werk{ 
    float: left;
    height: 75vh;
    width: 35vh;
    margin: 5rem 0rem;
}

.kleedp{
    margin: 6rem 2rem 0rem;
}

.kleed{
    margin: 0rem 2rem 7rem;
}

.box{ 
    height: 53vh;
    width: 45vh;
}

.betalen{
    margin: 2rem 2rem 2rem;
}
.betalenp{
    margin: 0rem 0rem;
    background-color: var(--color-lichtgrijs);
    padding: 5rem 1rem 3rem 2rem;
}

.bezorgenp{
    margin: 9rem 2rem 0rem;
}

.bezorgen{
    margin: 2rem 2rem 2rem;
}

.retour{
    margin: 0rem 2rem;
}

footer{
    background-color:var(--color-zwart);
    color: var(--color-wit);
    margin: 12rem 0rem 0rem;
    padding-bottom: 4rem;
}

h2{
    margin: 4rem 0rem;
}
.plantje{
    height: 55vh;
    width: 45vh;
    margin: 2rem 1rem;
    float: left;
}

.naam{
    position: absolute;
    background-color:var(--color-lichtgrijs);
    padding: 0px 142px ;
    margin: 20rem 15px 0rem;
}

.naam>h6{
    
    margin: 2rem 0rem 5rem 2rem;
}