

:root{
    --color-wit: #FAFAFA;
    --color-lichtgrijs: #DCE1DE;
    --color-lichtgroen: #9CC5A1;
    --color-donkergroen: #49A078;
    --color-blauw: #216869;
    --color-donkergrijs: #707070;
    --color-zwart: #1F2421;

    --text-font:'Source Sans Pro', sans-serif;

}